<h1>My Tasks</h1>

<ol>
  <% @tasks.each do |task| %>
    <li> <%= task.completed ? "[X]" : "[ ]" %> <%= link_to task.title, show_path(task) %> (<%= task.details %>)</li>
  <% end %>
</ol>

<%= link_to "+ Add a task", tasks_new_path %>
